@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
#root {
  --main-color: #263238;
  --light-color: #979797;
  --primary-color: #0e4da4;
  --secondary-color: #1bb55c;
  --ternary-color: #ffbb12;
  --error-color: #e74c3c;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}
